* {
  box-sizing:border-box;
}
.flex {
  flex-grow:1
}

.flex-column {
  display:flex;
  flex-flow:column;
}

.flex-row {
  display:flex;
  flex-flow:row;
}

.flex-column > *,
.flex-row > * {
  position:relative;
}

.stretch {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.overflow {
  overflow-y:auto;
  overflow-x:hidden;
}

.pointer {
  cursor: pointer;
}

.ui.table > tbody > tr.pointer.active > td {
  font-weight:bold;
}

.ui.table td.short, .ui.table th.short {
  width:8em!important;
  overflow:hidden;
  text-overflow:ellipsis;
}