<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
</head>

<body>
  <div class="ui container">
    <div class="ui center aligned very padded basic header segment">
      <h1>KULTURNIKOVO VLOŽIŠČE</h1>
      <hr />
      <h4>ROČNO VNAŠANJE NAJAV DOGODKOV NA PODROČJU KULTURE</h4>
    </div>
    <% if(user) { %>
    <p>
      <%= user %> (<a href='/logout'>Odjava</a>)
    </p>
    <% } %>
    <div class="ui center aligned very padded basic form segment">
      <p>
        Vnesite svoj email naslov, nato boste po elektronski pošti prejeli prijavno
        povezavo, ki vam bo omogočila pregled in nadzor nad vašimi dogodki.
      </p>
      <form class="ui form" action="/sendtoken" method="POST">
        <div class="field">
          <input name="user" placeholder="email naslov" type="text">
        </div>
        <input class="ui green button" type="submit" value="Pošlji">
      </form>
    </p>
  </div>
</body>

</html>