<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
  </head>
  <body style="background:#eee;padding-top:10px">
    <div class="ui container segment">
      <h1>Prijavna povezava je bila poslana</h1>
      <p>Preverite svoj e-poštni nabiralnik.</p>
  </div>
  </body>
</html>

