body {
  background-color:#efefef;
}

.ui.form .field .x-input {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255,255,255,0);
  line-height: 1.21428571em;
  padding: .67857143em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
  width:100%;
}

.ui.form .field.success .input,.ui.form .field.success label,.ui.form .fields.success .field .input,.ui.form .fields.success .field label {
  color: #2c662d;
}

.ui.form .field.error .input,.ui.form .field.error label,.ui.form .fields.error .field .input,.ui.form .fields.error .field label {
  color: #9f3a38;
}

.ui.form .field.success .input:-webkit-autofill,
.ui.form .fields.success .input:-webkit-autofill,
.ui.form .field.success .input:-webkit-autofill:focus,
.ui.form .fields.success .input:-webkit-autofill:focus {
  border-color: #97B989!important;
  -webkit-text-fill-color: #2c662d!important;
}

.ui.form .field.error .input:-webkit-autofill,
.ui.form .fields.error .input:-webkit-autofill,
.ui.form .field.error .input:-webkit-autofill:focus,
.ui.form .fields.error .input:-webkit-autofill:focus {
  border-color: #DAA8A8!important;
  -webkit-text-fill-color: #9f3a38!important;
}


.ui.form .field.success .corner.label,.ui.form .fields.success .field .corner.label {
  border-color: #2c662d;
  color: #fff
}

.ui.form .field.success .input,
.ui.form .fields.success .input,
.ui.form .field.success input:not([type]):focus,.ui.form .field.success input[type=date]:focus,.ui.form .field.success input[type=datetime-local]:focus,.ui.form .field.success input[type=email]:focus,.ui.form .field.success input[type=file]:focus,.ui.form .field.success input[type=number]:focus,.ui.form .field.success input[type=password]:focus,.ui.form .field.success input[type=search]:focus,.ui.form .field.success input[type=tel]:focus,.ui.form .field.success input[type=text]:focus,.ui.form .field.success input[type=time]:focus,.ui.form .field.success input[type=url]:focus,.ui.form .field.success select:focus,.ui.form .field.success textarea:focus {
  background: #fcfff5;
  border-color: #a3c293;
  color: #2c662d;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none
}

.ui.form .field.success select {
  -webkit-appearance: menulist-button
}

.ui.form .field.success .ui.dropdown,.ui.form .field.success .ui.dropdown .item,.ui.form .field.success .ui.dropdown .text,.ui.form .fields.success .field .ui.dropdown,.ui.form .fields.success .field .ui.dropdown .item {
  background: #fcfff5;
  color: #2c662d
}

.ui.form .field.success .ui.dropdown,.ui.form .fields.success .field .ui.dropdown {
  border-color: #a3c293!important
}

.ui.form .field.success .ui.dropdown:hover,.ui.form .fields.success .field .ui.dropdown:hover {
  border-color: #a3c293!important
}

.ui.form .field.success .ui.dropdown:hover .menu,.ui.form .fields.success .field .ui.dropdown:hover .menu {
  border-color: #a3c293
}

.ui.form .field.success .ui.multiple.selection.dropdown>.label,.ui.form .fields.success .field .ui.multiple.selection.dropdown>.label {
  background-color: #cbeacb;
  color: #2c662d
}

.ui.form .field.success .ui.dropdown .menu .item:hover,.ui.form .fields.success .field .ui.dropdown .menu .item:hover {
  background-color: #e7fbe7
}

.ui.form .field.success .ui.dropdown .menu .selected.item,.ui.form .fields.success .field .ui.dropdown .menu .selected.item {
  background-color: #e7fbe7
}

.ui.form .field.success .ui.dropdown .menu .active.item,.ui.form .fields.success .field .ui.dropdown .menu .active.item {
  background-color: #cffdcf!important
}

.ui.form .field.success .checkbox:not(.toggle):not(.slider) .box,.ui.form .field.success .checkbox:not(.toggle):not(.slider) label,.ui.form .fields.success .field .checkbox:not(.toggle):not(.slider) .box,.ui.form .fields.success .field .checkbox:not(.toggle):not(.slider) label {
  color: #2c662d
}

.ui.form .field.success .checkbox:not(.toggle):not(.slider) .box:before,.ui.form .field.success .checkbox:not(.toggle):not(.slider) label:before,.ui.form .fields.success .field .checkbox:not(.toggle):not(.slider) .box:before,.ui.form .fields.success .field .checkbox:not(.toggle):not(.slider) label:before {
  background: #fcfff5;
  border-color: #a3c293
}

.ui.form .field.success .checkbox .box:after,.ui.form .field.success .checkbox label:after,.ui.form .fields.success .field .checkbox .box:after,.ui.form .fields.success .field .checkbox label:after {
  color: #2c662d
}


.scroll-list-field {
  user-select:none;
  display:inline-block;
  flex-flow:column;
  padding:0 0.5em!important;
  cursor:default;
  height:10.5em;
  overflow:hidden;
  background:#f8f8f8;
  box-shadow:0 6px 12px -6px rgba(0,0,0,0.15) inset,0 -6px 12px -6px rgba(0,0,0,0.15) inset!important;
  position:relative;
}
.scroll-list-field:before {
  content:"";
  position:absolute;
  top:4em;
  height:2em;
  left:0.5em;
  right:0.5em;
  background:#fff;
  box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset;
}

.scroll-list-field .scroll {
  z-index:1;
  position:relative;
  display:inline-block;
  margin-top:-1em;
  transition:margin-top 0.3s;
}


.scroll-list-field .row {
  height:2.5em;
  line-height:2.5em;
  padding: 0 0.5em;
  transition:color 0.3s;
}

.scroll-list-field .current.row {
  color:inherit;
}

.scroll-list-field .empty.row {
}

.scroll-list-field .other.row {
  color:#999
}

.combo-field {
}
.combo-field .suggested {
  z-index:100000;
  background:white;
  box-shadow:2px 2px 4px rgba(0,0,0,0.3), 0 0 0 1px #ddd;
  margin-top:-1px;
  padding:0em;
  height:18em;
  resize:vertical;
  overflow:auto;
  cursor:default;
  user-select: none;
}

.combo-field .suggested > * {
  padding:0.5em 1em;
  box-shadow:0 -1px #ddd;
  background:#fafafa
}

.combo-field .suggested > *:hover {
  background:#def;
}